:root{

    /* 头部和底部的背景颜色 */
    --background-color:rgb(230,247,255);
    /* 底部按钮的背景颜色 */
    --button-color:#91d5ff;
    /* 叉区域的背景颜色 */
    --grey-color:#f5f7fa;
    /* 无需填写部分的背景颜色 */
    --grey:#d9d9d9;

    /* 容器大小 */
    --container-width:600px;
    --container-height:540px;

    /* 头部高度 */
    --header-height:40px;
    /* 中间高度 */
    --content-height:calc(var(--container-height) - 80px);
    /* 底部高度 */
    --footer-height:40px;

    /* 中间高度和容器高度是连锁的 */

    /* 输入框的宽度:短 */
    --input-width:250px;
    /* 输入框的宽度:场 */
    --input-width-big:320px;

    /* input标签内placeholder的字体颜色 */
    --placeholder-color:#bbbbbb;

    /* 文件展示框的边距 */
    --file-padding-up-down:8px; 
    --file-padding-left-right:10px;

    /*
    框体的背景颜色
    (1)当前公共账号
    (2)已点选文件
    */
    --box-background:#E9F0FF;

    /* 文档图标的大小 */
    --document-img-height:35px;
    --document-img-width:30px;
}
.container-UploadDocument{
    /* 定位 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* 大小 */
    width: var(--container-width);
    height: var(--container-height);
    box-sizing: border-box;
    /* 间距 */
    margin: 0;
    padding: 0;
    /* 样式 */
    background: #fff;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* 显示 */
    z-index: 200;
    /* 布局 */
    display: flex;
    flex-direction: column;
}

/* =================================头部================================= */
.container-UploadDocument .header{
    /* 大小 */
    width: 100%;
    height: var(--header-width);
    /* 样式 */
    background: var(--background-color);
    /* 定位 */
    line-height: 40px;
    text-align: center;
}
.container-UploadDocument .header span{
    /* 样式 */
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 2px;
}

/* =================================主体部分================================= */
.container-UploadDocument .content{
    /* 大小 */
    width: 100%;
    height: var(--content-height);
    box-sizing: border-box;
    /* 定位 */
    position: relative;
}
.container-UploadDocument .content .line{
    /* 大小 */
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    /* 间距 */
    padding: 5px;
    /* 布局 */
    display: flex;
    /* 定位 */
    position: relative;
}

/* =================================标题================================= */
.container-UploadDocument .content .line .label-title{
    /* 样式 */
    width: 30%;
    height: 100%;
}
.container-UploadDocument .content .line .label-title span{
    /* 样式 */
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 1px;
    /* 定位 */
    line-height: 30px;
    float: right;
    /* 间距 */
    margin-right: 5px;
}

/* =================================当前公共账号================================= */
.container-UploadDocument .content .line .public-account{
    /* 大小 */
    line-height: 10px;
    width: var(--input-width-big);
    box-sizing: border-box;
    /* 样式 */
    background: var(--box-background);
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    /* 间距 */
    margin-left: 5px;
    padding: var(--file-padding-up-down) 
    var(--file-padding-left-right);
}

/* =================================已点选文件================================= */
.container-UploadDocument .content .line-select{
    /* 大小 */
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    /* 间距 */
    padding: 5px;
    /* 布局 */
    display: flex;
    /* 定位 */
    position: relative;
}
/* 标题 */
.container-UploadDocument .content .line-select .label-title{
    /* 样式 */
    width: 30%;
    height: 100%;
}
.container-UploadDocument .content .line-select .label-title span{
    /* 样式 */
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 1px;
    /* 定位 */
    line-height: 30px;
    float: right;
    /* 间距 */
    margin-right: 5px;
}
/* 文件展示 */
.container-UploadDocument .content .line-select .selected-file{
    /* 大小 */
    height: 100%;
    width: var(--input-width-big);
    box-sizing: border-box;
    /* 布局 */
    display: flex;
    /* 边距 */
    margin-left: 5px;
    /* 定位 */
    position: relative;
    /* 边距 */
    padding: var(--file-padding-up-down) var(--file-padding-left-right);
    /* 样式 */
    background: var(--box-background);
    border-radius: 5px;
}
.container-UploadDocument .content .line-select .selected-file img{
    width: var(--document-img-width);
    height: var(--document-img-height);
}
.container-UploadDocument .content .line-select .selected-file .details{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.container-UploadDocument .content .line-select .selected-file .details .name{
    font-size: 14px;
    font-weight: bolder; 
}
.container-UploadDocument .content .line-select .selected-file .details .size{
    font-size: 12px;
}

/* =================================line-notice================================= */
.container-UploadDocument .content .line-notice{
    /* 大小 */
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    /* 布局 */
    display: block;
    /* 定位 */
    position: relative;
    left: calc(30% + 5px + 4px);
    top: -6px;
    line-height: 30px;
}
.container-UploadDocument .content .line-notice span{
    /* 样式 */
    font-size: 12px;
    font-weight: bolder;
    color: #ff4757;
    letter-spacing: 1px;

}

/* =================================分割条================================= */
.container-UploadDocument .content .line-seperate{
    /* 大小 */
    width: 90%;
    height: 10px;
    box-sizing: border-box;
    /* 间距 */
    margin: 0 auto;
    /* 样式 */
    /* border-top: 1px solid var(--grey); */
    border-top: 1px solid black;
}

/* =================================文档实际所有者================================= */
.container-UploadDocument .content .line .my-select{
    /* 大小 */
    height: 100%;
    width: 70%;
    box-sizing: border-box;
    /* 布局 */
    display: flex;
    align-items: center;
    /* 定位 */
    position: relative;
}
.container-UploadDocument .content .line .my-select .select-input{
    /* 布局 */
    display: flex;
    /* 定位 */
    position: relative;
}
.container-UploadDocument .content .line .my-select .select-input input{
    /* 大小 */
    width: var(--input-width);
    height: 30px;
    box-sizing: border-box;
    /* 间距 */
    margin-left: 5px;
    padding-left: 5px;
    /* 样式 */
    border: 1px solid black;
    outline: none;
    font-size: 14px;
    font-weight: bolder;
    /* 显示 */
    z-index: 2;
}
.container-UploadDocument .content .line .my-select .select-input input::placeholder{
    color: var(--placeholder-color);
}
.container-UploadDocument .content .line .my-select .select-input .triangle{
    /* 大小 */
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    /* 定位 */
    position: absolute;
    right: 0px;
    /* 样式 */
    cursor: pointer;
    background: var(--grey-color);
    border: 1px solid black;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    /* 显示 */
    z-index: 3;
    /* 布局 */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 倒三角 */
.container-UploadDocument .content .line .my-select .select-input .triangle::before{
    content: "";
    width: 0px;
    height: 0px;
    border: 12px solid black;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: 8px;
}


/* =================================文档版本================================= */
.container-UploadDocument .content .line .version{
    /* 大小 */
    height: 100%;
    width: 70%;
    box-sizing: border-box;
    /* 布局 */
    display: flex;
    align-items: center;
    /* 定位 */
    position: relative;
}
.container-UploadDocument .content .line .version .version-input{
    /* 布局 */
    display: flex;
    /* 定位 */
    position: relative;
}
.container-UploadDocument .content .line .version .version-input input{
    /* 大小 */
    width: var(--input-width);
    height: 30px;
    box-sizing: border-box;
    /* 间距 */
    margin-left: 5px;
    padding-left: 5px;
    /* 样式 */
    border: 1px solid black;
    outline: none;
    font-size: 14px;
    font-weight: bolder;
    /* 显示 */
    z-index: 2;
}
.container-UploadDocument .content .line .version .version-input input::placeholder{
    color: var(--placeholder-color);
}
.container-UploadDocument .content .line .version .version-input .cha{
    /* 大小 */
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    /* 定位 */
    position: absolute;
    right: 0px;
    /* 样式 */
    cursor: pointer;
    background: var(--grey-color);
    border: 1px solid black;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    /* 显示 */
    z-index: 3;
}

/* =================================底部按钮================================= */
.container-UploadDocument .footer{
    /* 大小 */
    width: 100%;
    height: var(--footer-height);
    box-sizing: border-box;
    /* 布局 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 样式 */
    background: var(--background-color);
}
.container-UploadDocument .footer input{
    /* 大小 */
    width: 60px;
    height: 30px;
    box-sizing: border-box;
    /* 间距 */
    padding: 5px;
    margin: 0 10px;
    /* 样式 */
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--button-color);
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 1px;
}

/* =================================叉号================================= */
.container-UploadDocument .content .line .cha::before{
    content:"";
    width: 20px;
    height: 3px;
    position: absolute;
    left: 4px;
    top: 13px;
    background: black;
    border-radius: 2px;
    transform: rotate(-45deg);
    z-index: 101;
    pointer-events: none;
}
.container-UploadDocument .content .line .cha::after{
    content:"";
    width: 20px;
    height: 3px;
    position: absolute;
    left: 4px;
    top: 13px;
    background: black;
    border-radius: 2px;
    transform: rotate(45deg);
    z-index: 101;
    pointer-events: none;
}