/* 右侧 */
.middle .right{
    /* 样式 */
    border-left: 1px solid var(--border-color);
    /* 间距 */
    padding-left: 10px;
}

.middle .right .AddFile{
    /* 大小 */
    height: var(--add-file-height);
    width: 100%;
    /* 间距 */
    margin-bottom: 10px;
    /* 布局 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 样式 */
    border-radius: 5px;
    border: 2px dashed var(--add-file-border-color);
    cursor: pointer;
}
.middle .right .AddFile input{
    display: none;
}
.middle .right .AddFile img{
    /* 大小 */
    width: var(--add-file-png-width);
    height: var(--add-file-png-height);
    /* 间距 */
    margin-bottom: 5px;
}
.middle .right .AddFile span{
    /* 样式 */
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bolder;
    color: var(--add-file-color);
    letter-spacing: 2px;
}
.middle .right .uploaded-area{
    /* 布局 */
    display: flex;
    flex-direction: column;
    /* 定位 */
    position: relative;
}
/* .middle .right .uploaded-area .row {
    margin-bottom: 10px;
    padding: var(--file-padding-up-down) var(--file-padding-left-right);
    background: var(--box-background);
    list-style: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}
.middle .right .uploaded-area .row .content{
    display: flex;
    align-items: center;
}
.middle .right .uploaded-area .row .content img{
    width: var(--document-img-width);
    height: var(--document-img-height);
}
.middle .right .uploaded-area .row .content .details{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.middle .right .uploaded-area .row .content .name{
    font-size: 14px;
    font-weight: bolder;
}
.middle .right .uploaded-area .row .content .size{
    font-size: 12px;
}
.middle .right .uploaded-area .row .delete{
    width: var(---delete-img-width);
    height: var(--delete-img-height);
    position: absolute;
    right: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}
.middle .right .uploaded-area .row:hover .delete{
    opacity: 1;
} */