*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
:root{
    /* 主体的背景颜色 */
    --background:#5372F0;

    /* wrapper的宽度 */
    --wrapper-width: 500px;

    /* 内容区域的边框颜色 */
    --border-color:#a6a6a6;
    /* 内容区域的高度 */
    --ul-height:300px;

    /* tag的边框颜色 */
    --tag-border-color:#e3e1e1;
    /* tag的背景颜色 */
    --tag-background-color:#F2F2F2;
    /* tag高度 */
    --tag-height:40px;
    /* tag的内边距 */
    --tag-padding:5px;

    /* 叉号的大小 */
    --cha-width:20px;
    --cha-heighgt:20px;
    /* 叉号的背景颜色 */
    --cha-background-color:#dfdfdf;

    /* 按钮的背景颜色 */
    --button-background-color:#5372F0;
    --button-background-color-hover:#2c52ed;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--background);
}

/* 被用户选中时 */
::selection{
    color: #fff;
    background: var(--background);
}

.wrapper{
    /* 布局 */
    display: flex;
    flex-direction: column;
    /* 大小 */
    width: var(--wrapper-width);
    /* 样式 */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.06);
    /* 间距 */
    padding: 20px;
}

/* 标题部分 */
.title{
    /* 布局 */
    display: flex;
    flex-direction: row;
}
.title img{
    /* 大小 */
    max-width: 21px;
}
.title h2{
    /* 样式 */
    font-size: 21px;
    /* 间距 */
    margin-left: 8px;
}

/* 内容部分 */
.content{
    /* 布局 */
    display: flex;
    flex-direction: column;
    /* 间距 */
    margin: 10px 0;
}
.content ul{
    /* 大小 */
    height: var(--ul-height);
    /* 自动出现滚动条 */
    overflow: auto;
    /* 间距 */
    margin-top: 12px;
    padding: 7px;
    /* 样式 */
    border-radius: 5px;
    border: 1px solid var(--border-color);
}
.content ul li{
    /* 样式 */
    list-style: none;
    background: var(--tag-background-color);
    border: 1px solid var(--tag-border-color);
    border-radius: 5px;
    /* 间距 */
    margin: 5px;
    padding: 5px;
    /* 大小 */
    height: var(--tag-height);
    /* 布局 */
    display: inline-block;
    /* 定位 */
    position: relative;
}
.content ul li span{
    line-height: calc(var(--tag-height) - var(--tag-padding)*2);
    vertical-align: middle;
}
.content ul li img{
    /* 大小 */
    width: var(--cha-width);
    height: var(--cha-heighgt);
    border-radius: 50%;
    /* 间距 */
    margin-left: 5px;
    /* 样式 */
    cursor: pointer;
    background: var(--cha-background-color);
    /* 定位 */
    position: relative;
    top: 5px;
}
.content ul input{
    flex: 1;
    /* 间距 */
    padding: 5px;
    /* 样式 */
    border: none;
    outline: none;
    font-size: 16px;
}

/* 细节部分 */
.details{
    display: flex;
    /*垂直居中*/
    align-items: center;
    /* 布局:分布两边 */
    justify-content: space-between;
}
.details button{
    /* 样式 */
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    background: var(--button-background-color);
    /* 间距 */
    padding: 9px 15px;
    /* 过渡 */
    transition: background 0.3s ease;
}
.details button:hover{
    background: var(--button-background-color-hover);
}