.cha{
    /* 大小 */
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    /* 定位 */
    position: absolute;
    right: 0px;
    /* 样式 */
    cursor: pointer;
    background: var(--grey);
    border: 1px solid black;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    /* 显示 */
    z-index: 3;
}
.cha::before{
    content: "";
    /* 大小 */
    width: 20px;
    height: 3px;
    /* 定位 */
    position: absolute;
    left: 4px;
    top: 13px;
    /* 样式 */
    background: black;
    border-radius: 2px;
    transform: rotate(-45deg);
    /* 事件 */
    pointer-events: none;
    /* 显示 */
    z-index: 3;
}
.cha::after{
    content: "";
    /* 大小 */
    width: 20px;
    height: 3px;
    /* 定位 */
    position: absolute;
    left: 4px;
    top: 13px;
    /* 样式 */
    background: black;
    border-radius: 2px;
    transform: rotate(45deg);
    /* 事件 */
    pointer-events: none;
    /* 显示 */
    z-index: 3;
}
