/* ======================第一部分============== */
.part1{
    position: relative;
}


.part1 .line{
    /* 大小 */
    width: 100%;
    /* 布局 */
    display: flex;
    /* 间距 */
    margin: 10px 0;
}

/* ======================label============== */
.part1 .line .label{
    /* 大小*/
    width: 40%;
    height: 30px;
}
.part1 .line .label span{
    /* 样式 */
    font-size: 14px;
    font-weight: bold;
    color: black;
    /* 定位 */
    line-height: 30px;
    float: right;
    /* 间距 */
    margin-right: 5px;
}

/* ======================公共账号============== */
.part1 .line .input{
    /* 大小 */
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    /* 布局 */
    display: flex;
    align-items: center;
}
.part1 .line .input .public-account{
    /* 大小 */
    width: var(--input-width);
    height: 30px;
    box-sizing: border-box;
    /* 间距 */
    margin-left: 5px;
    padding-left: 5px;
    /* 样式 */
    border: 1px solid black;
    outline: none;
    font-size: 14px;
    font-weight: bolder;
    background: var(--grey);
}

/* ======================流程实际发起人============== */
.part1 .line .select{
    /* 大小 */
    height: 100%;
    width: 60%;
    box-sizing: border-box;
    /* 布局 */
    display: flex;
    align-items: center;
    /* 定位 */
    position: relative;
}
.part1 .line .select .select-input{
    /* 布局 */
    display: flex;
    /* 定位 */
    position: relative;
}
.part1 .line .select .select-input input{
    /* 大小 */
    width: var(--input-width);
    height: 30px;
    box-sizing: border-box;
    /* 间距 */
    margin-left: 5px;
    padding-left: 5px;
    /* 样式 */
    border: 1px solid black;
    outline: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    /* 显示 */
    z-index: 2;
}
