/* ======================第二部分============== */
.part2{
    position: relative;
}

.part2 .line{
    /* 大小 */
    width: 100%;
    /* 布局 */
    display: flex;
    /* 间距 */
    margin: 10px 0;
}

/* ======================label============== */
.part2 .line .label{
    /* 大小*/
    width: 40%;
    height: 30px;
}
.part2 .line .label span{
    /* 样式 */
    font-size: 14px;
    font-weight: bold;
    color: black;
    /* 定位 */
    line-height: 30px;
    float: right;
    /* 间距 */
    margin-right: 5px;
}

/* ======================审批人相关============== */
.part2 .line .select{
    /* 大小 */
    height: 100%;
    width: 60%;
    /* 布局 */
    display: flex;
    align-items: center;
    /* 定位 */
    position: relative;
}
.part2 .line .select .input{
    /* 布局 */
    display: flex;
    /* 定位 */
    position: relative;
}
.part2 .line .select .input input{
    /* 大小 */
    box-sizing: border-box;
    width: 250px;
    height: 30px;
    /* 间距 */
    margin-left: 5px;
    padding-left: 5px;
    /* 样式 */
    border: 1px solid black;
    outline: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    /* 显示 */
    z-index: 2;
}