*{
    margin: 0;
    padding: 0;
}
.cha{
    /* 大小 */
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    /* 定位 */
    position: relative;
    /* 样式 */
    cursor: pointer;
    background: #f5f7fa;
    border: 1px solid black;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
    /* 布局 */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 倒三角 */
/* .cha .triangle{ */
.cha::before{
    content: "";
    width: 0px;                 
    height: 0px;
    border: 12px solid black;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: 8px;
}

