/* 框体高度 */
/* 细节高度 */
/* tag高度 */
/* tag的内边距 */
/* tag背景颜色 */
/* tag边框颜色 */
/* 叉号的背景颜色 */
/* 叉号的大小 */
.cha-before {
  content: "";
  width: 23px;
  height: 3px;
  position: absolute;
  left: 5px;
  top: 15px;
  background: black;
  border-radius: 2px;
  transform: rotate(-45deg);
  pointer-events: none;
}
.cha-after {
  content: "";
  width: 23px;
  height: 3px;
  position: absolute;
  left: 5px;
  top: 15px;
  background: black;
  border-radius: 2px;
  transform: rotate(45deg);
  pointer-events: none;
}
.container-UploadDocument .content .tab .right {
  /* 样式 */
  border-left: 1px solid #bfbfbf;
  /* 间距 */
  padding-left: 10px;
  position: relative;
}
.container-UploadDocument .content .tab .right .line {
  /* 大小 */
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  /* 定位 */
  line-height: 38px;
  /* 间距 */
  padding-left: 5px;
}
.container-UploadDocument .content .tab .right .line span {
  /* 样式 */
  font-size: 14px;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-UploadDocument .content .tab .right .input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}
.container-UploadDocument .content .tab .right .input input {
  /* 大小 */
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  /* 样式 */
  border: 1px solid black;
  outline: none;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 5px;
  padding-left: 5px;
}
.container-UploadDocument .content .tab .right .input input::placeholder {
  color: #bbbbbb;
}
.container-UploadDocument .content .tab .right .input .cha {
  /* 大小 */
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  /* 定位 */
  position: absolute;
  top: 2.5;
  right: 0px;
  /* 样式 */
  cursor: pointer;
  background: #f5f7fa;
  border: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.container-UploadDocument .content .tab .right .input .cha::before {
  content: "";
  width: 23px;
  height: 3px;
  position: absolute;
  left: 5px;
  top: 15px;
  background: black;
  border-radius: 2px;
  transform: rotate(-45deg);
  pointer-events: none;
}
.container-UploadDocument .content .tab .right .input .cha::after {
  content: "";
  width: 23px;
  height: 3px;
  position: absolute;
  left: 5px;
  top: 15px;
  background: black;
  border-radius: 2px;
  transform: rotate(45deg);
  pointer-events: none;
}
.container-UploadDocument .content .tab .right .input .triangle {
  /* 大小 */
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  /* 定位 */
  position: absolute;
  top: 2.5;
  right: 0px;
  /* 样式 */
  cursor: pointer;
  background: #f5f7fa;
  border: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* 布局 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-UploadDocument .content .tab .right .input .triangle::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 12px solid black;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: 12px;
}
.container-UploadDocument .content .tab .right .ERP .cha {
  right: 60px;
}
.container-UploadDocument .content .tab .right .ERP button {
  /* 大小 */
  width: 60px;
  height: 35px;
  box-sizing: border-box;
  /* 间距 */
  padding: 5px;
  margin-left: 10px;
  /* 样式 */
  border: none;
  outline: none;
  border-radius: 5px;
  background: #f5f7fa;
  cursor: pointer;
  font-size: 14px;
  font-weight: bolder;
  border: 1px solid black;
  letter-spacing: 1px;
}
.container-UploadDocument .content .tab .right .addERPs {
  /* 布局 */
  display: flex;
  flex-direction: column;
  /* 大小 */
  width: 100%;
  box-sizing: border-box;
  /* 定位 */
  position: relative;
}
.container-UploadDocument .content .tab .right .addERPs .ERP-content {
  /* 大小 */
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  /* 样式 */
  border: 1px solid black;
  border-radius: 5px;
  /* 自动出现滚动条 */
  overflow-y: auto;
}
.container-UploadDocument .content .tab .right .addERPs .ERP-content .tag {
  /* 样式 */
  background: #F2F2F2;
  border: 1px solid #e3e1e1;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  /* 间距 */
  margin: 5px;
  padding: 0 5px;
  /* 大小 */
  height: 32px;
  box-sizing: border-box;
  /* 布局 */
  display: inline-block;
  /* 定位 */
  position: relative;
  line-height: 30px;
}
.container-UploadDocument .content .tab .right .addERPs .ERP-content .tag img {
  /* 大小 */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* 间距 */
  margin-left: 5px;
  /* 样式 */
  cursor: pointer;
  background: #dfdfdf;
  /* 定位 */
  position: relative;
  top: 5px;
}
.container-UploadDocument .content .tab .right .addERPs .ERP-details {
  /* 布局 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 大小 */
  height: 40px;
  width: 100%;
}
.container-UploadDocument .content .tab .right .addERPs .ERP-details p {
  font-size: 12px;
}
.container-UploadDocument .content .tab .right .addERPs .ERP-details span {
  font-size: 14px;
  font-weight: bolder;
  color: blue;
}
.container-UploadDocument .content .tab .right .addERPs .ERP-details button {
  width: 80px;
  height: 35px;
  box-sizing: border-box;
  /* 样式 */
  border: none;
  outline: none;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: blue;
  transition: all 0.3s;
}
.container-UploadDocument .content .tab .right .addERPs .ERP-details button:hover {
  color: red;
}
